.home-container{
    padding-top: 64px;
}

@media only screen and (max-width: 400px) {
    .home-container {
        padding-top: 100px;
    }
  }

@media only screen and (max-width: 237px) {
    .home-container {
        padding-top: 160px;
    }
}

.announcements-container{
    background-color: whitesmoke;
    text-align: center;
}